{% doc %}
  Renders the PDP trust icon row under the buy buttons.

  @param {string} [trust_1_icon] - First trust item icon.
  @param {string} [trust_1_text] - First trust item label.
  @param {string} [trust_2_icon] - Second trust item icon.
  @param {string} [trust_2_text] - Second trust item label.
  @param {string} [trust_3_icon] - Third trust item icon.
  @param {string} [trust_3_text] - Third trust item label.
  @param {string} [trust_4_icon] - Fourth trust item icon.
  @param {string} [trust_4_text] - Fourth trust item label.

  @example
  {% render 'bloomli-pdp-trust', trust_1_text: 'Free shipping' %}
{% enddoc %}

<div class="bloomli-pdp-trust">

  {%- for item_index in (1..4) -%}
    {%- liquid
      case item_index
        when 1
          assign item_icon = trust_1_icon | default: 'truck'
          assign item_text = trust_1_text | default: 'Free shipping'
        when 2
          assign item_icon = trust_2_icon | default: 'refresh'
          assign item_text = trust_2_text | default: 'Cancel anytime'
        when 3
          assign item_icon = trust_3_icon | default: 'shield'
          assign item_text = trust_3_text | default: '30-day guarantee'
        when 4
          assign item_icon = trust_4_icon | default: 'leaf'
          assign item_text = trust_4_text | default: 'Vegan & clean'
      endcase
    -%}

    {%- if item_text != blank -%}
      <div class="bloomli-pdp-trust__item">
        {%- render 'bloomli-icon', icon: item_icon, size: 20 -%}
        <div class="bloomli-pdp-trust__label">{{ item_text }}</div>
      </div>
    {%- endif -%}
  {%- endfor -%}

</div>
